<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/css.css" />
    <title>change password</title>
</head>
<body>
<form method="post">
    <div class="form-group">
        <label for="newPassword">新密码：</label>
        <input type="text" id="newPassword" name="newPassword"/>
    </div>
    <input type="submit" th:value="${op}">
</form>
</body>
</html>